@import url('https://fonts.googleapis.com/css?family=Lobster+Two:700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Comfortaa:700&display=swap');

.postcard{
    margin: 10px;
    border-radius: 10px;
    border:1px solid rgb(231, 231, 231);
    height:100%
}

.time{
    font-size:90%;
    font-weight: 500;
    padding-top: 15px;
}

.username{
    color: black;
    font-size: 130%;
}

.saveicon{
    font-size: x-large;
    color: black;
}
.likeicon{
    font-size: 185%;
    color: black;
}

.loveicon{
 font-size: 180%;
    color: black;
}

*{
    box-sizing: border-box;
}

.space{
    letter-spacing: 0px;
    font-weight: 600;
    font-family: 'Comfortaa', cursive;
}



.texty{
    margin-left: 10px;
    margin-right: 10px;
    font-size: 130%;
    font-weight: 600;
    color: black;
white-space:pre-line; 
}

.stannum{
        font-size: 170%;
        font-weight: 400;
        color: rgb(0, 177, 236);

}


.stan1{
    font-size: 132%;
    font-weight: 900;
    font-family: 'Comfortaa', cursive;
}

.rr{
    border-radius: 20px;
}

@keyframes example {
  0%   {

        font-size: 100%;
    }
  50%  {
    font-size: 175%;}
  100% {    
    font-size: 140%;
    }
}

.stan2{
    animation-name: example;
    animation-duration: 0.4s;
        color: rgb(0, 177, 236);
            font-size: 140%;
    font-weight: 900;
    font-family: 'Comfortaa', cursive;
}

.myfont{
        font-family: 'Comfortaa', cursive;

}

.reactall
{
    border-radius: 25px;
    width: 40vw;
}

.divide{
    font-size: x-large;
    color: lightgray;
    margin-top: -11.5px;
}



.icon{
    cursor: pointer;
}


.myblue{
    color: rgb(0, 177, 236);
}


.reaction{
        font-size: 115%;
        letter-spacing: 0.5px;
}

.reactionNo{
    font-size: large;
    margin-left: 100px;
}

.ll{
    font-weight: 500;
    font-size: large;
}

.userlink{
    font-size: 105%;
    font-weight: 500;
}


.stat{
    letter-spacing: 0.5px;
    font-weight: 600;
    font-size: 105%;
}


.reacttext{
    padding-left: 57px;
    margin-top: -10px;
    float: left;
    font-size: 105%;
    letter-spacing: 0.4px;
}


.reactimage{
    padding-top: 5px;
    padding-bottom: 5px;
}

.reactimagecenter {
 float: left;
  max-width: 100%;
border-radius:0px 15px 25px 25px ;
  max-height: 75vh;
  overflow:hidden;
}
.reactimagecenter img {
  height: auto;
  max-height: 50vh;
border-radius:0px 25px 25px 25px ;
  max-width: 100%;
  left: 50%;
  position: relative;
  transform: translateX(-50%);
}


.reactionvideo{
    margin-top: 2px;
  height: auto;
  overflow-y: hidden;
  border-radius: 0px 25px 25px;
  background-color: white;
}

.audioreaction{
    margin-top: 5px;
    border-radius: 0 25px 25px;
    background-color: rgb(243.8, 243.8, 243.8);
}


.temp1{
    padding-bottom: 5px;
    padding-top: 5px;
    margin-bottom: 100px;
}


.line{
    border: 0.5px solid lightgray;
    width: 25vw;
}