@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

@media only screen and (min-width: 700px) {
  .full{
      display: normal;
  }
  .mob{
      display:none;
  }
}
html
{
font-family: 'Roboto', sans-serif;

}
audio{
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
audio{
    -webkit-tap-highlight-color:  rgba(255, 255, 255, 0); 

}

::-webkit-scrollbar {
    width: 9px;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: rgb(167, 167, 167);
}

body{
    scrollbar-width: none;
    overflow-x: hidden;
}


@media only screen and (max-width: 700px) {
  .full{
      display: none;
  }
  .mob{
      display:normal;
  }
}

.fan{
  font-weight: 600;
  color: rgb(14, 138, 221);
}

.aye{
    font-weight: 400;
    color: rgb(0, 0, 0);
}


.myblue{
  color: rgb(1, 149, 255);
}

 @keyframes loader-animation {
     0% {
         left: -100%;
     }
     49% {
         left: 100%;
     }
     50% {
         left: 100%;
     }
     100% {
         left: -100%;
     }
 }

.bar {
     position: relative;
     height: 5px;
     background-color: dodgerblue;
     animation-name: loader-animation;
     animation-duration: 1.5s;
     animation-iteration-count: infinite;
     animation-timing-function: ease-in-out;
 }

 .barno{
        position: relative;
     height: 5px;
 }

 .bor{
     border-radius: 13px;
 }

 .shad{
     box-shadow: 0px 2px 5px 0px rgb(195, 195, 195);
 }


 .buttonHov{
     transition: 0.5s;
         box-shadow: 0px 10px 5px 0px rgb(195, 195, 195);

 }

 .buttonHov:hover{
          transition: 0.5s;
         box-shadow: 0px 5px 5px 0px rgb(48, 131, 255);

 }


 .pointer{
     cursor: pointer;
 }

 .name{
     background-color: white;
     margin-left: 43%;
     margin-right: 43%;
  border-radius: 0px 0px 45px 45px ;
  box-shadow: 0px 4px 5px 0px rgb(221, 221, 221);
 }


 .home{
     height: 100vh
 }

 .navigator{
     font-size: 280%;
     cursor: pointer;
     border-radius: 50%;
 }

 .navigate{
     margin-top: 10px;
     margin-left: 1%;
     margin-right: 1%;
 }